Monitor Raspberry Pi/monitor_raspberrypi.json
[{"id":"11ebdebf.8c34b1","type":"tab","label":"Monitor RaspberryPi","disabled":false,"info":""},{"id":"8c313b88.b35c88","type":"inject","z":"11ebdebf.8c34b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["9016241c.090998","a12c25e3.4f0aa8","b6e99a48.a3b1c8"]]},{"id":"9016241c.090998","type":"exec","z":"11ebdebf.8c34b1","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":327.72222900390625,"y":119.52778053283691,"wires":[["54a98887.83d038"],[],[]]},{"id":"a12c25e3.4f0aa8","type":"exec","z":"11ebdebf.8c34b1","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":327.72222900390625,"y":199.5277805328369,"wires":[["b1286dfe.8cf95"],[],[]]},{"id":"b6e99a48.a3b1c8","type":"exec","z":"11ebdebf.8c34b1","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":327.7222480773926,"y":263.7500162124634,"wires":[["d3589793.94c5b8"],[],[]]},{"id":"54a98887.83d038","type":"function","z":"11ebdebf.8c34b1","name":"","func":"str = msg.payload\nmsg.payload = parseFloat(str.substring(5,9));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["33a5fb5e.3cd854","c8ea66fb.5d0d78"]]},{"id":"4e451d58.bcb824","type":"mqtt out","z":"11ebdebf.8c34b1","name":"","topic":"cursocefire/raspberrypi/{nombre}/CPU","qos":"","retain":"","broker":"33467520.52c7ca","x":730,"y":200,"wires":[]},{"id":"d3589793.94c5b8","type":"function","z":"11ebdebf.8c34b1","name":"","func":"str = msg.payload\nmsg.payload = parseFloat(str.substring(0,str.length - 1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["86dd3ccc.b963a","c8ea66fb.5d0d78"]]},{"id":"33a5fb5e.3cd854","type":"mqtt out","z":"11ebdebf.8c34b1","name":"","topic":"cursocefire/raspberrypi/{nombre}/Temperatura","qos":"","retain":"","broker":"33467520.52c7ca","x":740,"y":120,"wires":[]},{"id":"86dd3ccc.b963a","type":"mqtt out","z":"11ebdebf.8c34b1","name":"","topic":"cursocefire/raspberrypi/{nombre}/Memoria","qos":"","retain":"","broker":"33467520.52c7ca","x":730,"y":260,"wires":[]},{"id":"c8ea66fb.5d0d78","type":"debug","z":"11ebdebf.8c34b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"b1286dfe.8cf95","type":"function","z":"11ebdebf.8c34b1","name":"","func":"str = msg.payload\nmsg.payload = parseFloat(str.substring(0,str.length - 1));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["4e451d58.bcb824","c8ea66fb.5d0d78"]]},{"id":"c0d82372.73515","type":"comment","z":"11ebdebf.8c34b1","name":"Poner el {nombre} en el topic","info":"","x":680,"y":60,"wires":[]},{"id":"33467520.52c7ca","type":"mqtt-broker","name":"","broker":"enriquecrespo.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]