04-Ejercicio Final/Ejercicio_1/Ejercicio_1-1.json
[
    {
        "id": "f73404b5.bf7fc8",
        "type": "tab",
        "label": "RPi: leds y botones",
        "disabled": false,
        "info": ""
    },
    {
        "id": "97ce1451.e66108",
        "type": "rpi-gpio in",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "pin": "16",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "39684092.99031",
                "ee93f378.ee724",
                "b15b5c63.69f38"
            ]
        ]
    },
    {
        "id": "11e42087.4a1bef",
        "type": "rpi-gpio out",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "39684092.99031",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "5294057c.34d62c",
        "type": "mqtt in",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "4648cbb2.79e214",
                "3dcf4a33.7d9bf6",
                "809b8ef0.df2b8"
            ]
        ]
    },
    {
        "id": "ee93f378.ee724",
        "type": "mqtt out",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/boton",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "4648cbb2.79e214",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "3dcf4a33.7d9bf6",
        "type": "change",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "11e42087.4a1bef",
                "afaa6050.3fc22"
            ]
        ]
    },
    {
        "id": "5192fb6d.80ea04",
        "type": "rbe",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "c3bbaa78.1cd3d8",
                "7462d74d.b42538"
            ]
        ]
    },
    {
        "id": "3be66df4.960d32",
        "type": "mqtt in",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/boton",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "5192fb6d.80ea04"
            ]
        ]
    },
    {
        "id": "cd546aed.858b98",
        "type": "mqtt out",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "c3bbaa78.1cd3d8",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "afaa6050.3fc22",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "7462d74d.b42538",
        "type": "function",
        "z": "f73404b5.bf7fc8",
        "name": "detecta flanco",
        "func": "var estado_led = flow.get(\"estado_led_anterior\");\nvar led = flow.get(\"led\");\n\nif (estado_led != msg.payload){\n    flow.set(\"estado_led_anterior\", msg.payload);\n    if (msg.payload == 'ON'){    //flanco ascendente\n        if (led == 'ON') {\n            led = 'OFF';\n        }\n        else {\n            led = 'ON';\n        }\n        flow.set(\"led\",led);\n        msg.payload = led;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "cd546aed.858b98",
                "85b1156d.8dda48"
            ]
        ]
    },
    {
        "id": "85b1156d.8dda48",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "b15b5c63.69f38",
        "type": "ui_gauge",
        "z": "f73404b5.bf7fc8",
        "name": "Pulsador",
        "group": "56b8de94.e13c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "c5fc787.9a64988",
        "type": "ui_switch",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "label": "Led RPi",
        "tooltip": "",
        "group": "56b8de94.e13c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "cd546aed.858b98",
                "afaa6050.3fc22",
                "3dcf4a33.7d9bf6"
            ]
        ]
    },
    {
        "id": "809b8ef0.df2b8",
        "type": "delay",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "c5fc787.9a64988"
            ]
        ]
    },
    {
        "id": "760437d5.268b98",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "56b8de94.e13c8",
        "type": "ui_group",
        "z": "",
        "name": "RPi",
        "tab": "e9f44719.dba6d8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e9f44719.dba6d8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]