Backup Raspberry Pi 3/flows_formatted.json
[
    {
        "id": "4c4e7e38.3cd12",
        "type": "tab",
        "label": "first flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96ef409e.4a9fb",
        "type": "tab",
        "label": "Segundo flujo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f73404b5.bf7fc8",
        "type": "tab",
        "label": "RPi: leds y botones",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76554285.08c41c",
        "type": "tab",
        "label": "Nodos Remotos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aa40f00a.29d6a",
        "type": "tab",
        "label": "Ejercicio 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bd43c71.2de23",
        "type": "tab",
        "label": "Pin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95c32f11.1ede8",
        "type": "tab",
        "label": "Ejemplo Subflow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7f03f48.ec029",
        "type": "tab",
        "label": "Ejercicio 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a8fc729b.d16b6",
        "type": "tab",
        "label": "Ejercicio 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "358c49b6.c5d4e6",
        "type": "tab",
        "label": "Camara",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0bb119.73c28f",
        "type": "tab",
        "label": "API Aemet",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f9ed1046.506c5",
        "type": "tab",
        "label": "Email",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0a6f605.2c4d68",
        "type": "tab",
        "label": "SMS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "170f4718.6bac99",
        "type": "tab",
        "label": "Twitter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d4d018.f951dfe",
        "type": "tab",
        "label": "Open Weather Map",
        "disabled": false,
        "info": ""
    },
    {
        "id": "414fdac6.e0c984",
        "type": "tab",
        "label": "Telegram aprendiendoarduino_bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4da41127.f8f52",
        "type": "tab",
        "label": "Telegram juntosdesdecasa_bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ccd00c9.7e147",
        "type": "tab",
        "label": "IFTTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d382a522.1d1138",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1cb5db9.094de",
        "type": "tab",
        "label": "Game flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88bbe218.63673",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 300,
                "y": 40,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308",
                        "port": 0
                    }
                ]
            },
            {
                "x": 300,
                "y": 140,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308",
                        "port": 1
                    }
                ]
            },
            {
                "x": 300,
                "y": 240,
                "wires": [
                    {
                        "id": "ab7f195c.aa0308",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "prueba",
                "type": "str",
                "value": "Hola"
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "159760f9.e3ca6f",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 620,
                "y": 180,
                "wires": [
                    {
                        "id": "7eff1fe2.5f886",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "760437d5.268b98",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "52495fbe.506f9",
        "type": "ui_group",
        "z": "",
        "name": "Encendido Relé",
        "tab": "a66819c3.dd1d78",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "15e0a766.19af89",
        "type": "ui_group",
        "z": "",
        "name": "pin",
        "tab": "a66819c3.dd1d78",
        "order": 2,
        "disp": false,
        "width": "1"
    },
    {
        "id": "a66819c3.dd1d78",
        "type": "ui_tab",
        "z": "",
        "name": "Pin Seguridad",
        "icon": "lock",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "192efa53.37dff6",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "53b63cd3.a25164",
        "type": "mqtt-broker",
        "z": "",
        "name": "CloudMQTT",
        "broker": "m20.cloudmqtt.com",
        "port": "10488",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f744599.fffeca8",
        "type": "twilio-api",
        "z": "",
        "name": "Cuenta Twilio",
        "sid": "ACd75664b190e9138b3ab756a09b88a5cf",
        "from": "+18646531673"
    },
    {
        "id": "2f968c77.ffdb44",
        "type": "telegram bot",
        "z": "",
        "botname": "aprendiendoarduino_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "e7868449.9e1228",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": "jecrespom"
    },
    {
        "id": "e71160bc.8309d",
        "type": "ui_tab",
        "z": "",
        "name": "Openweathermap",
        "icon": "wb_sunny",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "33d15ae1.0ffa86",
        "type": "ui_group",
        "z": "",
        "name": "Predicción",
        "tab": "e71160bc.8309d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5846d9cd.43c9e8",
        "type": "ui_group",
        "z": "",
        "name": "Temperatura",
        "tab": "e71160bc.8309d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5aa393de.9dc38c",
        "type": "ui_group",
        "z": "",
        "name": "Humedad",
        "tab": "e71160bc.8309d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c50f1ac7.710b18",
        "type": "ui_group",
        "z": "",
        "name": "Presión",
        "tab": "e71160bc.8309d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11ee8b0c.7444b5",
        "type": "ifttt-key",
        "z": ""
    },
    {
        "id": "e9f44719.dba6d8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d721aa51.1bcaf8",
        "type": "ui_group",
        "z": "",
        "name": "Suscripciones",
        "tab": "e9f44719.dba6d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11e4063d.b039ca",
        "type": "ui_group",
        "z": "",
        "name": "Pulsadores",
        "tab": "e9f44719.dba6d8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56b8de94.e13c8",
        "type": "ui_group",
        "z": "",
        "name": "RPi",
        "tab": "e9f44719.dba6d8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9692d02b.f220c",
        "type": "ui_group",
        "z": "",
        "name": "Control Relés",
        "tab": "e9f44719.dba6d8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9d10d93e.d7eb68",
        "type": "ui_group",
        "z": "",
        "name": "Estado Puerta",
        "tab": "a66819c3.dd1d78",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fdbd3f26.fb77",
        "type": "ui_tab",
        "z": "",
        "name": "Email & SMS",
        "icon": "email",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1220ec2.1cd4114",
        "type": "ui_group",
        "z": "",
        "name": "Manda Correo",
        "tab": "fdbd3f26.fb77",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b3747e83.b71dd",
        "type": "ui_group",
        "z": "",
        "name": "Manda SMS",
        "tab": "fdbd3f26.fb77",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9611ae1e.e6517",
        "type": "ui_tab",
        "z": "",
        "name": "Imagenes",
        "icon": "photo",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a8f50fc7.25306",
        "type": "ui_group",
        "z": "",
        "name": "Foto",
        "tab": "9611ae1e.e6517",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "95398080.8036f",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "twitter",
        "tz": ""
    },
    {
        "id": "b1e663d0.e2e62",
        "type": "chatbot-telegram-node",
        "z": "",
        "botname": "juntosdesdecasa_bot",
        "usernames": "",
        "providerToken": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "85b614f4.6279f8",
        "type": "ui_group",
        "z": "",
        "name": "Telegram",
        "tab": "ee9793cc.8918e",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ee9793cc.8918e",
        "type": "ui_tab",
        "z": "",
        "name": "Telegram",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "81467baf.f38798",
        "type": "ui_group",
        "z": "",
        "name": "Tiempo",
        "tab": "4811cdf5.f09ea4",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3ada7ef5.741682",
        "type": "ui_group",
        "z": "",
        "name": "Pistas",
        "tab": "4811cdf5.f09ea4",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b577ee1e.21f51",
        "type": "ui_group",
        "z": "",
        "name": "Tiempo",
        "tab": "bb157439.03bf48",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "bf40a062.1bae4",
        "type": "ui_group",
        "z": "",
        "name": "Pista cables",
        "tab": "bb157439.03bf48",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "5dd64cb0.643974",
        "type": "ui_group",
        "z": "",
        "name": "Pista exp",
        "tab": "bb157439.03bf48",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "ef5b801b.aadf9",
        "type": "ui_group",
        "z": "",
        "name": "Pista puerta",
        "tab": "bb157439.03bf48",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "4811cdf5.f09ea4",
        "type": "ui_tab",
        "z": "",
        "name": "Game Master",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb157439.03bf48",
        "type": "ui_tab",
        "z": "",
        "name": "Room",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "adab0b05.dcbd08",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "Telegram",
        "tz": ""
    },
    {
        "id": "e0ff63ff.4dd6c",
        "type": "inject",
        "z": "4c4e7e38.3cd12",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "ffc87ac2.0c78b8"
            ]
        ]
    },
    {
        "id": "33405291.430e4e",
        "type": "debug",
        "z": "4c4e7e38.3cd12",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 120,
        "wires": [],
        "inputLabels": [
            "debug"
        ]
    },
    {
        "id": "2b320d8.60e3ef2",
        "type": "mqtt out",
        "z": "4c4e7e38.3cd12",
        "name": "",
        "topic": "/time",
        "qos": "1",
        "retain": "true",
        "broker": "760437d5.268b98",
        "x": 678,
        "y": 174,
        "wires": []
    },
    {
        "id": "ffc87ac2.0c78b8",
        "type": "date-converter",
        "z": "4c4e7e38.3cd12",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "",
        "adjAmount": "1",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "",
        "output": "",
        "outputType": "msg",
        "outTz": "",
        "x": 389,
        "y": 178,
        "wires": [
            [
                "33405291.430e4e",
                "2b320d8.60e3ef2",
                "2454b33.065d24c"
            ],
            []
        ]
    },
    {
        "id": "e059dffd.857d",
        "type": "ui_button",
        "z": "159760f9.e3ca6f",
        "name": "",
        "group": "52495fbe.506f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unlock_door",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "lock",
        "payload": "true",
        "payloadType": "bool",
        "topic": "show",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "ddfe7ef9.d4819"
            ]
        ]
    },
    {
        "id": "16177d50.1de743",
        "type": "function",
        "z": "159760f9.e3ca6f",
        "name": "verify_pin",
        "func": "var pins = [\"2136\"];\nvar verified = false;\n\nfor(var i=0;i<pins.length;i++){\n    if(msg.passcode == pins[i]){\n        verified = true;\n        break;\n    }\n}\n\nmsg.verified = verified;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "f7400602.267f18"
            ]
        ]
    },
    {
        "id": "f7400602.267f18",
        "type": "switch",
        "z": "159760f9.e3ca6f",
        "name": "check",
        "property": "verified",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "7eff1fe2.5f886"
            ],
            [
                "dfd871b1.0f08e"
            ]
        ]
    },
    {
        "id": "7eff1fe2.5f886",
        "type": "function",
        "z": "159760f9.e3ca6f",
        "name": "pin_ok",
        "func": "var msg2 = {};\nmsg2.topic = \"Pin successfully verified!\";\nmsg2.payload = \"ON\";\n    \nreturn [msg, msg2];",
        "outputs": "2",
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "2d432a5f.9d0536"
            ],
            [
                "2d432a5f.9d0536",
                "74864796.73bf78"
            ]
        ]
    },
    {
        "id": "dfd871b1.0f08e",
        "type": "function",
        "z": "159760f9.e3ca6f",
        "name": "pin_error",
        "func": " msg.topic = \"Wrong PIN\";\n msg.payload = \"OFF\";\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 378.12500381469727,
        "y": 233.0000057220459,
        "wires": [
            [
                "2d432a5f.9d0536",
                "74864796.73bf78"
            ]
        ]
    },
    {
        "id": "ddfe7ef9.d4819",
        "type": "ui_template",
        "z": "159760f9.e3ca6f",
        "group": "15e0a766.19af89",
        "name": "Pin_Unlock",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 style=\"margin:10px\">Insert PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(1)\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(2)\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(3)\">3</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(4)\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(5)\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(6)\">6</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(7)\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(8)\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(9)\">9</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(0)\">0</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/* __ */\n.number_placeholder{\n    width: 50px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n *\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        //This trick make it works on smartphones too :)\n        dialog = $('#pin_insert').detach();\n        //dialog.appendTo(document.body); // This leaves ghost numpads if pinpad is not opened!\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body); // better to add the body only when the numpad is displayed (seams to be removed automatically)\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 4) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 4) {\n                console.log(\"The four digit code was entered\");\n                   \n            }\n        }\n    }\n \n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length == 4) {\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 375.3750343322754,
        "y": 79.96426963806152,
        "wires": [
            [
                "16177d50.1de743"
            ]
        ]
    },
    {
        "id": "2d432a5f.9d0536",
        "type": "debug",
        "z": "159760f9.e3ca6f",
        "name": "do_Something",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "97ce1451.e66108",
        "type": "rpi-gpio in",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "pin": "16",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "39684092.99031",
                "ee93f378.ee724",
                "b15b5c63.69f38"
            ]
        ]
    },
    {
        "id": "11e42087.4a1bef",
        "type": "rpi-gpio out",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "39684092.99031",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "5294057c.34d62c",
        "type": "mqtt in",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "4648cbb2.79e214",
                "3dcf4a33.7d9bf6",
                "809b8ef0.df2b8"
            ]
        ]
    },
    {
        "id": "ee93f378.ee724",
        "type": "mqtt out",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/boton",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "4648cbb2.79e214",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "3dcf4a33.7d9bf6",
        "type": "change",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "11e42087.4a1bef",
                "afaa6050.3fc22"
            ]
        ]
    },
    {
        "id": "5192fb6d.80ea04",
        "type": "rbe",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "c3bbaa78.1cd3d8",
                "7462d74d.b42538"
            ]
        ]
    },
    {
        "id": "3be66df4.960d32",
        "type": "mqtt in",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/boton",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "5192fb6d.80ea04"
            ]
        ]
    },
    {
        "id": "cd546aed.858b98",
        "type": "mqtt out",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "c3bbaa78.1cd3d8",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "afaa6050.3fc22",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "7462d74d.b42538",
        "type": "function",
        "z": "f73404b5.bf7fc8",
        "name": "detecta flanco",
        "func": "var estado_led = flow.get(\"estado_led_anterior\");\nvar led = flow.get(\"led\");\n\nif (estado_led != msg.payload){\n    flow.set(\"estado_led_anterior\", msg.payload);\n    if (msg.payload == 'ON'){    //flanco ascendente\n        if (led == 'ON') {\n            led = 'OFF';\n        }\n        else {\n            led = 'ON';\n        }\n        flow.set(\"led\",led);\n        msg.payload = led;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "cd546aed.858b98",
                "85b1156d.8dda48"
            ]
        ]
    },
    {
        "id": "85b1156d.8dda48",
        "type": "debug",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "61b2700.5db879",
        "type": "inject",
        "z": "96ef409e.4a9fb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "86c39c98.28ffc"
            ]
        ]
    },
    {
        "id": "86c39c98.28ffc",
        "type": "http request",
        "z": "96ef409e.4a9fb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "2ef05c4b.7e3c04"
            ]
        ]
    },
    {
        "id": "2ef05c4b.7e3c04",
        "type": "csv",
        "z": "96ef409e.4a9fb",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "3530af5.26d885"
            ]
        ]
    },
    {
        "id": "8c2423f0.433e5",
        "type": "debug",
        "z": "96ef409e.4a9fb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "3530af5.26d885",
        "type": "switch",
        "z": "96ef409e.4a9fb",
        "name": "Panic",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "f9f099c5.613268"
            ]
        ]
    },
    {
        "id": "f9f099c5.613268",
        "type": "change",
        "z": "96ef409e.4a9fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!!!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "8c2423f0.433e5"
            ]
        ]
    },
    {
        "id": "2454b33.065d24c",
        "type": "debug",
        "z": "4c4e7e38.3cd12",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 683,
        "y": 374,
        "wires": []
    },
    {
        "id": "ab7f195c.aa0308",
        "type": "switch",
        "z": "88bbe218.63673",
        "name": "If else",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 160,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1c667a0d.e6e386",
        "type": "mqtt in",
        "z": "358c49b6.c5d4e6",
        "name": "",
        "topic": "Image",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "334240e0.176d1",
                "ec96bd85.770d3"
            ]
        ]
    },
    {
        "id": "334240e0.176d1",
        "type": "debug",
        "z": "358c49b6.c5d4e6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec96bd85.770d3",
        "type": "image",
        "z": "358c49b6.c5d4e6",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "outputs": 0,
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "4bbb049d.58ca5c",
        "type": "inject",
        "z": "d0bb119.73c28f",
        "name": "api key",
        "topic": "",
        "payload": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqZWNyZXNwb21AZ21haWwuY29tIiwianRpIjoiMjUyYjk2OTAtNzI1Yi00OTEzLTlkYmEtZTczMjY0ZDg5OTUzIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1ODMyMjk5MDUsInVzZXJJZCI6IjI1MmI5NjkwLTcyNWItNDkxMy05ZGJhLWU3MzI2NGQ4OTk1MyIsInJvbGUiOiIifQ.gMxjlUTd7CM3fc3F0_lAXXGnrDyFAB-GBSEpD6CLetA",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "fe4ca4c7.e0fdd8",
                "75bf34a.dee39cc"
            ]
        ]
    },
    {
        "id": "c04756ef.cf4b08",
        "type": "http request",
        "z": "d0bb119.73c28f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key={{apikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 80,
        "wires": [
            [
                "5de419ac.d23808",
                "7b5b95f3.23b73c"
            ]
        ]
    },
    {
        "id": "5de419ac.d23808",
        "type": "debug",
        "z": "d0bb119.73c28f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "fe4ca4c7.e0fdd8",
        "type": "change",
        "z": "d0bb119.73c28f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "apikey",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "c04756ef.cf4b08"
            ]
        ]
    },
    {
        "id": "75bf34a.dee39cc",
        "type": "debug",
        "z": "d0bb119.73c28f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "854faef9.2bbc4",
        "type": "debug",
        "z": "d0bb119.73c28f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 310,
        "y": 480,
        "wires": []
    },
    {
        "id": "7b5b95f3.23b73c",
        "type": "json",
        "z": "d0bb119.73c28f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "854faef9.2bbc4",
                "59675ff7.374d4",
                "d237375a.62f4e8"
            ]
        ]
    },
    {
        "id": "3f21fd83.2c5132",
        "type": "http request",
        "z": "d0bb119.73c28f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://opendata.aemet.es/opendata/sh/{{payload}}",
        "tls": "",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "264ac13a.f79eae"
            ]
        ]
    },
    {
        "id": "84659580.bb59e8",
        "type": "debug",
        "z": "d0bb119.73c28f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "264ac13a.f79eae",
        "type": "debug",
        "z": "d0bb119.73c28f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "59675ff7.374d4",
        "type": "function",
        "z": "d0bb119.73c28f",
        "name": "Extrae Valor",
        "func": "var url = msg.payload.datos;\n\nvar newMsg = { payload: url.substring(url.length - 8, url.length)};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "3f21fd83.2c5132",
                "84659580.bb59e8"
            ]
        ]
    },
    {
        "id": "d237375a.62f4e8",
        "type": "change",
        "z": "d0bb119.73c28f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.datos",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "437c4b91.1550f4"
            ]
        ]
    },
    {
        "id": "437c4b91.1550f4",
        "type": "http request",
        "z": "d0bb119.73c28f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 610,
        "y": 580,
        "wires": [
            [
                "a9e8d271.9de34"
            ]
        ]
    },
    {
        "id": "a9e8d271.9de34",
        "type": "debug",
        "z": "d0bb119.73c28f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "5f373b21.b07c44",
        "type": "e-mail in",
        "z": "f9ed1046.506c5",
        "name": "lee email",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "30",
        "fetch": "auto",
        "inputs": 0,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "b53f5006.2ab1c"
            ]
        ]
    },
    {
        "id": "8da78e50.d99ec",
        "type": "e-mail",
        "z": "f9ed1046.506c5",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "aprendiendoraspberrypi@gmail.com",
        "dname": "manda email",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "b8f9fa5a.eb2188",
        "type": "inject",
        "z": "f9ed1046.506c5",
        "name": "",
        "topic": "",
        "payload": "Hola",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "dc9d3ce8.889ba"
            ]
        ]
    },
    {
        "id": "b53f5006.2ab1c",
        "type": "debug",
        "z": "f9ed1046.506c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "dc9d3ce8.889ba",
        "type": "change",
        "z": "f9ed1046.506c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Mensaje desde node red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "nodered-raspberrypi3@micasa.com",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "8da78e50.d99ec",
                "983cb048.2b91f"
            ]
        ]
    },
    {
        "id": "983cb048.2b91f",
        "type": "debug",
        "z": "f9ed1046.506c5",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "3c539933.5998d6",
        "type": "inject",
        "z": "f9ed1046.506c5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "125dd505.82352b"
            ]
        ]
    },
    {
        "id": "125dd505.82352b",
        "type": "function",
        "z": "f9ed1046.506c5",
        "name": "Construye email",
        "func": "mensaje = \"Has inyectado: \" + msg.payload;\ndestinatario = \"aprendiendoraspberrypi@gmail.com\"\nasunto = \"Mensaje desde Node-RED\"\n\nmsg = {\n    payload: mensaje,\n    to: destinatario,\n    topic: asunto\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "8da78e50.d99ec",
                "983cb048.2b91f"
            ]
        ]
    },
    {
        "id": "415adefd.ec2c5",
        "type": "twilio out",
        "z": "d0a6f605.2c4d68",
        "twilio": "f744599.fffeca8",
        "twilioType": "sms",
        "url": "",
        "number": "+34654527681",
        "name": "Manda SMS",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "985db0aa.634e8",
        "type": "inject",
        "z": "d0a6f605.2c4d68",
        "name": "",
        "topic": "",
        "payload": "Que tal estas!!!! Estoy en Node-RED",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "415adefd.ec2c5"
            ]
        ]
    },
    {
        "id": "be8c3488.09cdb8",
        "type": "telegram receiver",
        "z": "414fdac6.e0c984",
        "name": "Bot aprendiendoarduino",
        "bot": "2f968c77.ffdb44",
        "saveDataDir": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "7c9e057e.188cec",
                "293c33f2.559c7c",
                "3fa49049.cb821"
            ],
            []
        ]
    },
    {
        "id": "7c9e057e.188cec",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "2b8ed2f0.54184e",
        "type": "telegram sender",
        "z": "414fdac6.e0c984",
        "name": "Manda Mensaje",
        "bot": "2f968c77.ffdb44",
        "x": 720,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "879b4e76.0ec34",
        "type": "inject",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "",
        "payload": "Hola desde node...",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "7c723139.b3998"
            ]
        ]
    },
    {
        "id": "7c723139.b3998",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "Manda a jecrespo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"chatId\":\"315011892\",\"content\":\"Hola desde node red de nuevo\",\"type\":\"message\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 600,
        "wires": [
            [
                "2b8ed2f0.54184e",
                "7c9e057e.188cec"
            ]
        ]
    },
    {
        "id": "58bbfc80.a5eea4",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "Manda a grupo",
        "func": "mensaje = msg.payload;\nchat = \"-1001252876433\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "2b8ed2f0.54184e"
            ]
        ]
    },
    {
        "id": "af1de793.007188",
        "type": "inject",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "",
        "payload": "Hola Grupo",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "58bbfc80.a5eea4"
            ]
        ]
    },
    {
        "id": "d672dacb.319e88",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "Manda a canal",
        "func": "mensaje = msg.payload;\nchat = \"-1001402638286\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "2b8ed2f0.54184e"
            ]
        ]
    },
    {
        "id": "f04f0ea4.2230c",
        "type": "inject",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "",
        "payload": "Temperatura casa: 23.9 ºC",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "d672dacb.319e88"
            ]
        ]
    },
    {
        "id": "cafa5c09.192dc",
        "type": "comment",
        "z": "414fdac6.e0c984",
        "name": "Bot de Telegram @aprendiendoarduino_bot",
        "info": "Comandos:\nhelp - Ayuda\nstart - Inicio\nenciende - Enciende Led\napaga - Apaga led\nlee - Muestra datos broker\n",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "293c33f2.559c7c",
        "type": "switch",
        "z": "414fdac6.e0c984",
        "name": "Bot",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "/help*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/start*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/enciende*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/apaga*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/lee*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "ee8fb048.b0c66",
                "287efe4f.f5fab2"
            ],
            [
                "ee8fb048.b0c66",
                "ffb520f.e17d2e"
            ],
            [
                "ee8fb048.b0c66",
                "deb1003b.12b11",
                "5a2e085e.7582f8"
            ],
            [
                "ee8fb048.b0c66",
                "eab2f1e9.b1ca",
                "6e678148.37509"
            ],
            [
                "ee8fb048.b0c66",
                "445f37dc.613ae8"
            ]
        ],
        "outputLabels": [
            "help",
            "start",
            "enciende",
            "apaga",
            "lee"
        ]
    },
    {
        "id": "ee8fb048.b0c66",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "93d3635a.ff7be",
        "type": "telegram sender",
        "z": "414fdac6.e0c984",
        "name": "",
        "bot": "2f968c77.ffdb44",
        "x": 820,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "287efe4f.f5fab2",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "help",
        "func": "msg.payload.content = \"help - Ayuda\\nstart - Inicio\\nenciende - Enciende Led\\napaga - Apaga led\\nlee - Muestra datos broker\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "93d3635a.ff7be",
                "fd4cf1df.e015d"
            ]
        ]
    },
    {
        "id": "eab2f1e9.b1ca",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "apaga",
        "func": "msg.payload.content = \"LED Apagado\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "deb1003b.12b11",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "enciende",
        "func": "msg.payload.content = \"LED Encendido\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "ffb520f.e17d2e",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "start",
        "func": "msg.payload.content = \"help - Ayuda\\nstart - Inicio\\nenciende - Enciende Led\\napaga - Apaga led\\nlee - Muestra datos broker\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "445f37dc.613ae8",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "Estado LED",
        "func": "msg.payload.content = \"Estado del LED: \" + flow.get(\"estado_led\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "d7ceec50.48618",
        "type": "mqtt out",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "5a2e085e.7582f8",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "estado_led",
                "pt": "flow",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "d7ceec50.48618"
            ]
        ]
    },
    {
        "id": "96b5cabf.e91298",
        "type": "mqtt out",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e678148.37509",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "estado_led",
                "pt": "flow",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "96b5cabf.e91298"
            ]
        ]
    },
    {
        "id": "ffc4151.97572e8",
        "type": "mqtt in",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "e1aa2810.027d08"
            ]
        ]
    },
    {
        "id": "e1aa2810.027d08",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "estado_led",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fd4cf1df.e015d",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "4c2163b8.e097cc",
        "type": "telegram command",
        "z": "414fdac6.e0c984",
        "name": "",
        "command": "/help",
        "bot": "2f968c77.ffdb44",
        "strict": false,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "df47c36c.2a834"
            ],
            []
        ]
    },
    {
        "id": "df47c36c.2a834",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "9575ee44.cf12a",
        "type": "twitter in",
        "z": "170f4718.6bac99",
        "twitter": "e7868449.9e1228",
        "tags": "#aprendiendoarduino",
        "user": "false",
        "name": "#aprendiendoarduino",
        "inputs": 1,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "4e9d9acf.549c24",
                "a285dad3.9380a8"
            ]
        ]
    },
    {
        "id": "cb76122d.f955a",
        "type": "twitter out",
        "z": "170f4718.6bac99",
        "twitter": "e7868449.9e1228",
        "name": "Tweet",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "4e9d9acf.549c24",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ee9e85e.4bd728",
        "type": "inject",
        "z": "170f4718.6bac99",
        "name": "",
        "topic": "",
        "payload": "#aprendiendoarduino #rioja monitorizando hashtags",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "cb76122d.f955a"
            ]
        ]
    },
    {
        "id": "309143e8.ea68ec",
        "type": "comment",
        "z": "170f4718.6bac99",
        "name": "Si alguien tuitea #aprendiendoarduino me manda un mensaje a Telegram",
        "info": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "c3fbb0eb.d2b8e",
        "type": "telegram sender",
        "z": "170f4718.6bac99",
        "name": "Manda Mensaje",
        "bot": "2f968c77.ffdb44",
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a285dad3.9380a8",
        "type": "function",
        "z": "170f4718.6bac99",
        "name": "Manda a canal",
        "func": "mensaje = \"Mensaje recibido de Twitter: \" + msg.payload;\nchat = \"-1001402638286\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "c3fbb0eb.d2b8e"
            ]
        ]
    },
    {
        "id": "a7d86307.4bc63",
        "type": "openweathermap",
        "z": "3d4d018.f951dfe",
        "name": "Pronostico",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "Logrono",
        "country": "España",
        "language": "en",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "8147e6a4.5276c8",
                "24fe5c98.8410a4",
                "d730413f.200a8"
            ]
        ]
    },
    {
        "id": "87ca6cce.d555f",
        "type": "openweathermap in",
        "z": "3d4d018.f951dfe",
        "name": "Tiempo periodico",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Logrono",
        "country": "Spain",
        "language": "es",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "8147e6a4.5276c8",
                "24fe5c98.8410a4",
                "fa781400.816b48",
                "e2f50091.a0375",
                "7ab68520.c0be4c"
            ]
        ]
    },
    {
        "id": "8147e6a4.5276c8",
        "type": "debug",
        "z": "3d4d018.f951dfe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "720c4e52.1bbdc",
        "type": "function",
        "z": "3d4d018.f951dfe",
        "name": "Manda a grupo",
        "func": "mensaje = msg.payload;\nchat = \"-1001252876433\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "694e5c5.f27b9a4"
            ]
        ]
    },
    {
        "id": "694e5c5.f27b9a4",
        "type": "telegram sender",
        "z": "3d4d018.f951dfe",
        "name": "Manda Mensaje",
        "bot": "2f968c77.ffdb44",
        "x": 640,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "24fe5c98.8410a4",
        "type": "json",
        "z": "3d4d018.f951dfe",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "720c4e52.1bbdc"
            ]
        ]
    },
    {
        "id": "d4866c82.c6d2b",
        "type": "inject",
        "z": "3d4d018.f951dfe",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "a7d86307.4bc63"
            ]
        ]
    },
    {
        "id": "b041bd9d.93a15",
        "type": "ui_button",
        "z": "3d4d018.f951dfe",
        "name": "Manda predicción",
        "group": "33d15ae1.0ffa86",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pulsa para mandar predicción",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a7d86307.4bc63"
            ]
        ]
    },
    {
        "id": "dc6b2b00.a8c688",
        "type": "ui_chart",
        "z": "3d4d018.f951dfe",
        "name": "",
        "group": "5846d9cd.43c9e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "38a24f34.93cdc",
        "type": "ui_gauge",
        "z": "3d4d018.f951dfe",
        "name": "",
        "group": "5846d9cd.43c9e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "fa781400.816b48",
        "type": "function",
        "z": "3d4d018.f951dfe",
        "name": "temperatura",
        "func": "mensaje = msg.payload;\n\nmsg.payload = mensaje.tempc;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "dc6b2b00.a8c688",
                "38a24f34.93cdc",
                "9ab5a07e.f5f1c"
            ]
        ]
    },
    {
        "id": "e2f50091.a0375",
        "type": "function",
        "z": "3d4d018.f951dfe",
        "name": "humedad",
        "func": "mensaje = msg.payload;\n\nmsg.payload = mensaje.humidity;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "5bda2968.e46ea8",
                "a3885c35.aaca3"
            ]
        ]
    },
    {
        "id": "5bda2968.e46ea8",
        "type": "ui_chart",
        "z": "3d4d018.f951dfe",
        "name": "",
        "group": "5aa393de.9dc38c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 630,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a3885c35.aaca3",
        "type": "ui_gauge",
        "z": "3d4d018.f951dfe",
        "name": "",
        "group": "5aa393de.9dc38c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "7ab68520.c0be4c",
        "type": "function",
        "z": "3d4d018.f951dfe",
        "name": "presion",
        "func": "mensaje = msg.payload;\n\nmsg.payload = mensaje.pressure;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "a032fd37.4607f",
                "a574b300.3bda5"
            ]
        ]
    },
    {
        "id": "a032fd37.4607f",
        "type": "ui_chart",
        "z": "3d4d018.f951dfe",
        "name": "",
        "group": "c50f1ac7.710b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 630,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a574b300.3bda5",
        "type": "ui_gauge",
        "z": "3d4d018.f951dfe",
        "name": "",
        "group": "c50f1ac7.710b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "5e896d42.8e52e4",
        "type": "ifttt out",
        "z": "2ccd00c9.7e147",
        "eventName": "nodered",
        "key": "11ee8b0c.7444b5",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "2052459a.5cd31a",
        "type": "inject",
        "z": "2ccd00c9.7e147",
        "name": "",
        "topic": "",
        "payload": "{\"value1\":\"hola\",\"value2\":\"desde\",\"value3\":\"node-red\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "5e896d42.8e52e4",
                "6f7ca016.120e1"
            ]
        ]
    },
    {
        "id": "6f7ca016.120e1",
        "type": "debug",
        "z": "2ccd00c9.7e147",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf06a908.bb4758",
        "type": "subflow:88bbe218.63673",
        "z": "95c32f11.1ede8",
        "name": "",
        "env": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "98bc246e.47db78"
            ],
            [
                "98bc246e.47db78"
            ],
            [
                "98bc246e.47db78"
            ]
        ]
    },
    {
        "id": "614a918a.f2d9",
        "type": "inject",
        "z": "95c32f11.1ede8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "cf06a908.bb4758"
            ]
        ]
    },
    {
        "id": "98bc246e.47db78",
        "type": "debug",
        "z": "95c32f11.1ede8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "16b41845.297298",
        "type": "status",
        "z": "170f4718.6bac99",
        "name": "",
        "scope": null,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "c0cef62d.1d0a58"
            ]
        ]
    },
    {
        "id": "c0cef62d.1d0a58",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "97ed21fa.075d8",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo1/dato10s",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "f1047008.578b6",
                "9e06cc52.8ff83"
            ]
        ]
    },
    {
        "id": "14b8992a.84f5f7",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo1/dato60s",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "f1047008.578b6",
                "5eb30b57.197054"
            ]
        ]
    },
    {
        "id": "f5c4c837.db1578",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo1/reset",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "f1047008.578b6",
                "abf79013.df6ba"
            ]
        ]
    },
    {
        "id": "930523f2.a7238",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo2/dato10s",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "f1047008.578b6"
            ]
        ]
    },
    {
        "id": "1cda8f52.adb951",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo2/dato60s",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "f1047008.578b6"
            ]
        ]
    },
    {
        "id": "68e475cf.0e588c",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo2/reset",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "f1047008.578b6"
            ]
        ]
    },
    {
        "id": "c69db004.018ab",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo5/dato10s",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "f1047008.578b6"
            ]
        ]
    },
    {
        "id": "de107736.451a58",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo5/dato60s",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "f1047008.578b6"
            ]
        ]
    },
    {
        "id": "f5a995da.531398",
        "type": "mqtt in",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo5/reset",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "f1047008.578b6"
            ]
        ]
    },
    {
        "id": "16766fd.57e289",
        "type": "mqtt out",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo1/led",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "14fbd8c8.20c847",
        "type": "mqtt out",
        "z": "76554285.08c41c",
        "name": "",
        "topic": "nodo1/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "f1047008.578b6",
        "type": "debug",
        "z": "76554285.08c41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "9e06cc52.8ff83",
        "type": "ui_text",
        "z": "76554285.08c41c",
        "group": "d721aa51.1bcaf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "dato10s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "5eb30b57.197054",
        "type": "ui_text",
        "z": "76554285.08c41c",
        "group": "d721aa51.1bcaf8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "dato60s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "abf79013.df6ba",
        "type": "ui_text",
        "z": "76554285.08c41c",
        "group": "d721aa51.1bcaf8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "reset",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "62d2ddc1.188f64",
        "type": "ui_button",
        "z": "76554285.08c41c",
        "name": "limpia datos",
        "group": "d721aa51.1bcaf8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpia Datos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "9e06cc52.8ff83",
                "5eb30b57.197054",
                "abf79013.df6ba"
            ]
        ]
    },
    {
        "id": "634d0979.53c508",
        "type": "ui_switch",
        "z": "76554285.08c41c",
        "name": "",
        "label": "Led",
        "tooltip": "",
        "group": "11e4063d.b039ca",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "16766fd.57e289"
            ]
        ]
    },
    {
        "id": "4b0cf50d.21ad3c",
        "type": "ui_switch",
        "z": "76554285.08c41c",
        "name": "",
        "label": "Relé",
        "tooltip": "",
        "group": "11e4063d.b039ca",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "14fbd8c8.20c847"
            ]
        ]
    },
    {
        "id": "b15b5c63.69f38",
        "type": "ui_gauge",
        "z": "f73404b5.bf7fc8",
        "name": "Pulsador",
        "group": "56b8de94.e13c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "c5fc787.9a64988",
        "type": "ui_switch",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "label": "Led RPi",
        "tooltip": "",
        "group": "56b8de94.e13c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "cd546aed.858b98",
                "afaa6050.3fc22",
                "3dcf4a33.7d9bf6"
            ]
        ]
    },
    {
        "id": "809b8ef0.df2b8",
        "type": "delay",
        "z": "f73404b5.bf7fc8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "c5fc787.9a64988"
            ]
        ]
    },
    {
        "id": "dcb04f59.4503e",
        "type": "ui_switch",
        "z": "aa40f00a.29d6a",
        "name": "",
        "label": "Botón 1",
        "tooltip": "",
        "group": "9692d02b.f220c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "b1e95e4d.3fdfe",
                "5b6c7cfa.d63d24",
                "aaa3e420.ad0cf8",
                "9ded294.00bd6d8",
                "e2cc20fa.bc899"
            ]
        ]
    },
    {
        "id": "5b6c7cfa.d63d24",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo2/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "aaa3e420.ad0cf8",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo3/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ded294.00bd6d8",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo4/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "b1e95e4d.3fdfe",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo1/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "e2cc20fa.bc899",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo5/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "b7e5e2ec.2885a",
        "type": "ui_switch",
        "z": "aa40f00a.29d6a",
        "name": "",
        "label": "Botón 2",
        "tooltip": "",
        "group": "9692d02b.f220c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "e59d0148.61e3b",
                "deb821ca.0ac8c",
                "182928e3.d19587",
                "5997c93e.b3aee8",
                "4263c7fd.903f98"
            ]
        ]
    },
    {
        "id": "deb821ca.0ac8c",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo7/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "182928e3.d19587",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo8/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "5997c93e.b3aee8",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo9/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "e59d0148.61e3b",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo6/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "4263c7fd.903f98",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo10/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "71c52b09.a74164",
        "type": "ui_switch",
        "z": "aa40f00a.29d6a",
        "name": "",
        "label": "Botón 3",
        "tooltip": "",
        "group": "9692d02b.f220c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "6c98d3.22cd772c",
                "9740f3b6.1c145",
                "b016eaad.766bf8",
                "d96bdbfc.a236e8",
                "c665bab.b681a48"
            ]
        ]
    },
    {
        "id": "9740f3b6.1c145",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo12/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "b016eaad.766bf8",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo13/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "d96bdbfc.a236e8",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo14/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "6c98d3.22cd772c",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo11/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "c665bab.b681a48",
        "type": "mqtt out",
        "z": "aa40f00a.29d6a",
        "name": "",
        "topic": "nodo15/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 430,
        "y": 640,
        "wires": []
    },
    {
        "id": "74864796.73bf78",
        "type": "ui_toast",
        "z": "159760f9.e3ca6f",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "e8d8aea3.171a",
        "type": "ui_gauge",
        "z": "8bd43c71.2de23",
        "name": "",
        "group": "9d10d93e.d7eb68",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "fceaa488.cc41e8",
        "type": "mqtt out",
        "z": "8bd43c71.2de23",
        "name": "",
        "topic": "nodo1/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "1c471209.00042e",
        "type": "delay",
        "z": "8bd43c71.2de23",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "d2d80890.11e5e8"
            ]
        ]
    },
    {
        "id": "58da2af0.7a5384",
        "type": "mqtt in",
        "z": "8bd43c71.2de23",
        "name": "",
        "topic": "nodo1/rele",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "e8d8aea3.171a"
            ]
        ]
    },
    {
        "id": "d2d80890.11e5e8",
        "type": "mqtt out",
        "z": "8bd43c71.2de23",
        "name": "",
        "topic": "nodo1/rele",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "6edbba2a.555f04",
        "type": "change",
        "z": "8bd43c71.2de23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "1c471209.00042e"
            ]
        ]
    },
    {
        "id": "1b759cfa.812ea3",
        "type": "subflow:159760f9.e3ca6f",
        "z": "8bd43c71.2de23",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "fceaa488.cc41e8",
                "6edbba2a.555f04"
            ]
        ]
    },
    {
        "id": "2e5e63e3.a53eec",
        "type": "ui_form",
        "z": "c7f03f48.ec029",
        "name": "",
        "label": "",
        "group": "1220ec2.1cd4114",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Destinatario",
                "value": "Destinatario",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Subject",
                "value": "Subject",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Contenido",
                "value": "Contenido",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Destinatario": "",
            "Subject": "",
            "Contenido": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "683dbadd.d8fd64",
                "1d82add2.af2702",
                "f465922a.6938e"
            ]
        ]
    },
    {
        "id": "3ecac821.5fa668",
        "type": "e-mail",
        "z": "c7f03f48.ec029",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "manda email",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "683dbadd.d8fd64",
        "type": "function",
        "z": "c7f03f48.ec029",
        "name": "Construye email",
        "func": "\nmensaje = msg.payload.Contenido;\ndestinatario = msg.payload.Destinatario;\nasunto = msg.payload.Subject;\n\nmsg = {\n    payload: mensaje,\n    to: destinatario,\n    topic: asunto\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "3ecac821.5fa668",
                "1d82add2.af2702"
            ]
        ]
    },
    {
        "id": "1d82add2.af2702",
        "type": "debug",
        "z": "c7f03f48.ec029",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "f465922a.6938e",
        "type": "function",
        "z": "c7f03f48.ec029",
        "name": "clear form",
        "func": "mensaje = msg.payload.Contenido;\ndestinatario = msg.payload.Destinatario;\nasunto = msg.payload.Subject;\n\nmsg.payload = {\n    Contenido: \"\",\n    Destinatario: \"\",\n    Subject: \"\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "2e5e63e3.a53eec"
            ]
        ]
    },
    {
        "id": "7b089f62.19c38",
        "type": "ui_form",
        "z": "c7f03f48.ec029",
        "name": "",
        "label": "",
        "group": "b3747e83.b71dd",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Número Destinatario",
                "value": "Destinatario",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Texto",
                "value": "Texto",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Destinatario": "",
            "Texto": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "2a531901.80d356",
                "d57f09ee.851c18"
            ]
        ]
    },
    {
        "id": "2a531901.80d356",
        "type": "function",
        "z": "c7f03f48.ec029",
        "name": "clear form",
        "func": "mensaje = msg.payload.Texto;\ndestinatario = msg.payload.Destinatario;\n\nmsg.payload = {\n    Texto: \"\",\n    Destinatario: \"\",\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "7b089f62.19c38"
            ]
        ]
    },
    {
        "id": "ca291b9f.5f38f8",
        "type": "twilio out",
        "z": "c7f03f48.ec029",
        "twilio": "f744599.fffeca8",
        "twilioType": "sms",
        "url": "",
        "number": "",
        "name": "Manda SMS",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "d57f09ee.851c18",
        "type": "function",
        "z": "c7f03f48.ec029",
        "name": "Construye SMS",
        "func": "\nmensaje = msg.payload.Texto;\ndestinatario = \"+34\" + msg.payload.Destinatario;\n\nmsg = {\n    payload: mensaje,\n    topic: destinatario\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "ca291b9f.5f38f8"
            ]
        ]
    },
    {
        "id": "4aa4dd74.ef8c04",
        "type": "http request",
        "z": "a8fc729b.d16b6",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://www.aprendiendoarduino.com/servicios/imagen.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "91cafe4c.0a912",
                "9b6b91f8.19cce",
                "cdfb28fd.b99b98",
                "2efe28b4.0cc638"
            ]
        ]
    },
    {
        "id": "c7ceab15.a9bfd8",
        "type": "inject",
        "z": "a8fc729b.d16b6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "4aa4dd74.ef8c04"
            ]
        ]
    },
    {
        "id": "91cafe4c.0a912",
        "type": "image",
        "z": "a8fc729b.d16b6",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "outputs": 0,
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2524e0e.55f11",
        "type": "ui_media",
        "z": "a8fc729b.d16b6",
        "group": "a8f50fc7.25306",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "",
        "file": "",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9b6b91f8.19cce",
        "type": "change",
        "z": "a8fc729b.d16b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "d2524e0e.55f11"
            ]
        ]
    },
    {
        "id": "cdfb28fd.b99b98",
        "type": "image-info",
        "z": "a8fc729b.d16b6",
        "name": "",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "c8af1cc5.10363",
                "dbc4e864.880d38"
            ]
        ]
    },
    {
        "id": "c8af1cc5.10363",
        "type": "debug",
        "z": "a8fc729b.d16b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "dbc4e864.880d38",
        "type": "ui_text",
        "z": "a8fc729b.d16b6",
        "group": "a8f50fc7.25306",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Info",
        "format": "Tipo: {{msg.type}}, Width: {{msg.width}}, Heigth: {{msg.height}}",
        "layout": "row-spread",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "2efe28b4.0cc638",
        "type": "mqtt out",
        "z": "a8fc729b.d16b6",
        "name": "",
        "topic": "raspberrypi/image",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "c6447a15.ba5ad8",
        "type": "ui_form",
        "z": "a8fc729b.d16b6",
        "name": "",
        "label": "Envia foto por email",
        "group": "a8f50fc7.25306",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "email",
                "value": "to",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "to": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "4c82e0f9.03b28"
            ]
        ]
    },
    {
        "id": "d72a2b0.d9aaed8",
        "type": "function",
        "z": "a8fc729b.d16b6",
        "name": "Construye email",
        "func": "\nmensaje = \"Imagen desde node red\";\ndestinatario = msg.destinatario.to;\nasunto = \"nueva imagen\";\n\nmsg = {\n    description: mensaje,\n    to: destinatario,\n    topic: asunto,\n    filename: \"image.jpg\",\n    payload: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 702,
        "y": 580,
        "wires": [
            [
                "5d0f02d3.5dfe7c",
                "535184a.4e0f27c"
            ]
        ]
    },
    {
        "id": "5d0f02d3.5dfe7c",
        "type": "e-mail",
        "z": "a8fc729b.d16b6",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "manda email",
        "x": 892,
        "y": 580,
        "wires": []
    },
    {
        "id": "a91cbefe.f5546",
        "type": "http request",
        "z": "a8fc729b.d16b6",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://www.aprendiendoarduino.com/servicios/imagen.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "d72a2b0.d9aaed8"
            ]
        ]
    },
    {
        "id": "535184a.4e0f27c",
        "type": "debug",
        "z": "a8fc729b.d16b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 862,
        "y": 660,
        "wires": []
    },
    {
        "id": "4c82e0f9.03b28",
        "type": "change",
        "z": "a8fc729b.d16b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "destinatario",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "a91cbefe.f5546"
            ]
        ]
    },
    {
        "id": "79a269d0.356e28",
        "type": "catch",
        "z": "170f4718.6bac99",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 591,
        "wires": [
            [
                "115e82e2.737dcd"
            ]
        ]
    },
    {
        "id": "115e82e2.737dcd",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 591,
        "wires": []
    },
    {
        "id": "ddb8099b.739728",
        "type": "twitter in",
        "z": "170f4718.6bac99",
        "twitter": "e7868449.9e1228",
        "tags": "#Rioja",
        "user": "false",
        "name": "Busca Rioja",
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "847f9cc4.7f346",
                "b16a4769.c23618",
                "d7f3f281.48d8f",
                "a53ddb10.7c2cc8"
            ]
        ]
    },
    {
        "id": "9dad8100.abebd",
        "type": "mysql",
        "z": "170f4718.6bac99",
        "mydb": "95398080.8036f",
        "name": "",
        "x": 700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d7f3f281.48d8f",
        "type": "function",
        "z": "170f4718.6bac99",
        "name": "Insertar",
        "func": "texto = msg.tweet.text;\nlocalizacion = msg.location.place;\nusuario = msg.tweet.user.screen_name\n\nmsg.topic = \"INSERT INTO `larioja` (`Texto`, `Localizacion`, `Usuario`) VALUES ('\" + texto + \"', '\" + localizacion + \"', '\" + usuario + \"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "9dad8100.abebd",
                "1a041476.4d1c0c"
            ]
        ]
    },
    {
        "id": "847f9cc4.7f346",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "b16a4769.c23618",
        "type": "mqtt out",
        "z": "170f4718.6bac99",
        "name": "",
        "topic": "twitter/rioja",
        "qos": "0",
        "retain": "false",
        "broker": "53b63cd3.a25164",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "1a041476.4d1c0c",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "9ab5a07e.f5f1c",
        "type": "mqtt out",
        "z": "3d4d018.f951dfe",
        "name": "",
        "topic": "nodo1/temperatura",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "d730413f.200a8",
        "type": "function",
        "z": "3d4d018.f951dfe",
        "name": "Construye email",
        "func": "mensaje = msg.payload;\ndestinatario = \"aprendiendoraspberrypi@gmail.com\"\nasunto = \"Predicción del tiempo para Logroño\"\n\nmsg = {\n    payload: mensaje,\n    to: destinatario,\n    topic: asunto\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "1b745e2c.dedc72"
            ]
        ]
    },
    {
        "id": "1b745e2c.dedc72",
        "type": "e-mail",
        "z": "3d4d018.f951dfe",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "aprendiendoraspberrypi@gmail.com",
        "dname": "manda email",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "a53ddb10.7c2cc8",
        "type": "function",
        "z": "170f4718.6bac99",
        "name": "Manda a grupo",
        "func": "mensaje = msg.payload;\nchat = \"-1001252876433\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "b6fef66d.823468"
            ]
        ]
    },
    {
        "id": "b6fef66d.823468",
        "type": "telegram sender",
        "z": "170f4718.6bac99",
        "name": "Manda Mensaje",
        "bot": "2f968c77.ffdb44",
        "x": 820,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "17f5f467.6de7bc",
        "type": "twitter in",
        "z": "170f4718.6bac99",
        "twitter": "e7868449.9e1228",
        "tags": "#Arduino,Arduino",
        "user": "false",
        "name": "Busca Arduino",
        "inputs": 0,
        "x": 92.33333587646484,
        "y": 703.3333129882812,
        "wires": [
            [
                "17210127.ead20f",
                "e92dc9d4.094c28",
                "239f79bc.03fd66"
            ]
        ]
    },
    {
        "id": "17210127.ead20f",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 262.33333587646484,
        "y": 663.3333129882812,
        "wires": []
    },
    {
        "id": "e92dc9d4.094c28",
        "type": "mqtt out",
        "z": "170f4718.6bac99",
        "name": "",
        "topic": "twitter/arduino",
        "qos": "0",
        "retain": "false",
        "broker": "53b63cd3.a25164",
        "x": 292.33333587646484,
        "y": 743.3333129882812,
        "wires": []
    },
    {
        "id": "239f79bc.03fd66",
        "type": "function",
        "z": "170f4718.6bac99",
        "name": "Insertar",
        "func": "texto = msg.payload;\nlocalizacion = msg.location.place;\nusuario = msg.tweet.user.screen_name\nuser_id = msg.tweet.user.id_str\n\nmsg.topic = \"INSERT INTO `arduino` (`Texto`, `Localizacion`, `Usuario`, `user_id`) VALUES ('\" + texto + \"', '\" + localizacion + \"', '\" + usuario + \"', '\" + user_id +\"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 412.33333587646484,
        "y": 703.3333129882812,
        "wires": [
            [
                "d20136a0.7a10a8",
                "91d4d3c5.49dfe"
            ]
        ]
    },
    {
        "id": "d20136a0.7a10a8",
        "type": "mysql",
        "z": "170f4718.6bac99",
        "mydb": "95398080.8036f",
        "name": "",
        "x": 632.3333358764648,
        "y": 703.3333129882812,
        "wires": [
            []
        ]
    },
    {
        "id": "91d4d3c5.49dfe",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 612.3333358764648,
        "y": 783.3333129882812,
        "wires": []
    },
    {
        "id": "b9a975b4.8f7068",
        "type": "chatbot-telegram-receive",
        "z": "4da41127.f8f52",
        "bot": "b1e663d0.e2e62",
        "botProduction": "b1e663d0.e2e62",
        "x": 117,
        "y": 365,
        "wires": [
            [
                "234f2467.f1e99c",
                "f26a34f0.a0b6a8",
                "f7ba4cf7.c4de2",
                "16cf9873.5915a8",
                "8c93e543.2e1cd8",
                "7cd1d066.74ad1",
                "8938cf37.2a5d2",
                "dd4810e0.4ab3e",
                "f7eec39b.b7dad",
                "6257fa70.db6ba4",
                "cbf25fbe.d8255",
                "9f223356.30fde",
                "e34cbef9.4fc8c",
                "89a6ef1d.78f5",
                "2ca3746e.c5f64c",
                "2009a29f.495ede"
            ]
        ]
    },
    {
        "id": "a96cc5fc.faa398",
        "type": "chatbot-telegram-send",
        "z": "4da41127.f8f52",
        "bot": "b1e663d0.e2e62",
        "botProduction": "b1e663d0.e2e62",
        "track": false,
        "passThrough": false,
        "outputs": 0,
        "x": 970,
        "y": 345,
        "wires": []
    },
    {
        "id": "234f2467.f1e99c",
        "type": "debug",
        "z": "4da41127.f8f52",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 330,
        "y": 344,
        "wires": []
    },
    {
        "id": "f26a34f0.a0b6a8",
        "type": "ui_text",
        "z": "4da41127.f8f52",
        "group": "85b614f4.6279f8",
        "order": 1,
        "width": "",
        "height": "",
        "name": "Telegram feed:   ",
        "label": "",
        "format": "{{msg.payload.content}}",
        "layout": "col-center",
        "x": 360,
        "y": 384,
        "wires": []
    },
    {
        "id": "bc437cdb.0fc64",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/help",
        "x": 490,
        "y": 60,
        "wires": [
            [
                "5426772a.155108"
            ]
        ]
    },
    {
        "id": "7cd1d066.74ad1",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/hora",
        "x": 330,
        "y": 304,
        "wires": [
            [
                "9b35bcdc.9f76a"
            ]
        ]
    },
    {
        "id": "5426772a.155108",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Hola {{nombre}}\n\nstart - inicio del bot\nhelp - muestra los comandos\nhola - saluda al bot\nquetal - pregunta al bot que tal está\ntemperatura - temperatura en tu ciudad\nhumedad - humedad en tu ciudad\ntiempo - que tiempo atmosférico hace en tu ciudad\nhora - hora y día\nenciende - enciende un led de un dispositivo conectado\napaga - apaga un led de un dispositivo conectado\nsonido - emite un sonido en un dispositivo conectado\nmensaje - muestra un mensaje en la pantalla de un dispositivo conectado\ntweet - manda un tweet\nmail - manda un email\nfoto - hace una foto y la muestra en telegram"
            }
        ],
        "x": 650,
        "y": 40,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "d84231e1.92c35",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/start",
        "x": 490,
        "y": 20,
        "wires": [
            [
                "5426772a.155108"
            ]
        ]
    },
    {
        "id": "f7ba4cf7.c4de2",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "Variables",
        "rules": [
            {
                "t": "set",
                "p": "nombre",
                "pt": "flow",
                "to": "originalMessage.from.first_name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 327,
        "y": 57,
        "wires": [
            [
                "d84231e1.92c35",
                "bc437cdb.0fc64"
            ]
        ]
    },
    {
        "id": "16cf9873.5915a8",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "Variables",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "originalMessage.from.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 327,
        "y": 137,
        "wires": [
            [
                "623c2707.30ca48",
                "f4cf3500.8490e8"
            ]
        ]
    },
    {
        "id": "623c2707.30ca48",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/hola",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "bd9bdc57.136e4"
            ]
        ]
    },
    {
        "id": "f4cf3500.8490e8",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/quetal",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "905577b2.731f48"
            ]
        ]
    },
    {
        "id": "bd9bdc57.136e4",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Hola {{username}} 👏"
            },
            {
                "message": "👍"
            },
            {
                "message": "Adiós, mantengamos la distancia de seguridad 😷"
            },
            {
                "message": "Me alegro de volver a verte {{username}} 😁"
            }
        ],
        "x": 650,
        "y": 100,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "905577b2.731f48",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Hoy no me encuentro muy bien 😷"
            },
            {
                "message": "Muy bien {{username}} ¿Y tu?"
            },
            {
                "message": "Aquí en casa. Recuerdate ¡Quedaté en casa! 🏠"
            }
        ],
        "x": 650,
        "y": 140,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "8c93e543.2e1cd8",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/tiempo",
        "x": 307,
        "y": 264,
        "wires": [
            [
                "8ac2e29.ccb902"
            ]
        ]
    },
    {
        "id": "8ac2e29.ccb902",
        "type": "openweathermap",
        "z": "4da41127.f8f52",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "logrono",
        "country": "Espana",
        "language": "es",
        "x": 477,
        "y": 264,
        "wires": [
            [
                "a6c46bfb.626328"
            ]
        ]
    },
    {
        "id": "53ecfbb0.52f8b4",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Hola este es el tiempo solicitado:\n\n{{tiempo}}"
            }
        ],
        "language": "",
        "x": 797,
        "y": 264,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "a6c46bfb.626328",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "Variables",
        "rules": [
            {
                "t": "set",
                "p": "tiempo",
                "pt": "flow",
                "to": "payload.description",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 663,
        "y": 264,
        "wires": [
            [
                "53ecfbb0.52f8b4"
            ]
        ]
    },
    {
        "id": "9b35bcdc.9f76a",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hora",
                "pt": "flow",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 304,
        "wires": [
            [
                "c34b0912.e5df48"
            ]
        ]
    },
    {
        "id": "d12a05d9.e66e38",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Hola esta es la fecha y hora:\n\n{{hora}}"
            }
        ],
        "x": 710,
        "y": 304,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "8938cf37.2a5d2",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/foto",
        "x": 330,
        "y": 424,
        "wires": [
            [
                "3ac6eae2.2f4cc6",
                "2075c1b9.ca604e"
            ]
        ]
    },
    {
        "id": "3ac6eae2.2f4cc6",
        "type": "mqtt out",
        "z": "4da41127.f8f52",
        "name": "",
        "topic": "foto/bot",
        "qos": "",
        "retain": "",
        "broker": "53b63cd3.a25164",
        "x": 520,
        "y": 444,
        "wires": []
    },
    {
        "id": "559f2bcd.6d10a4",
        "type": "mqtt in",
        "z": "4da41127.f8f52",
        "name": "",
        "topic": "foto/imagen",
        "qos": "2",
        "datatype": "auto",
        "broker": "53b63cd3.a25164",
        "x": 117,
        "y": 458,
        "wires": [
            [
                "4a2a9113.0d773",
                "f2c7895d.f313f8"
            ]
        ]
    },
    {
        "id": "2075c1b9.ca604e",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Solicitando foto....\nEspera unos segundos a que llegue"
            }
        ],
        "language": "",
        "x": 510,
        "y": 404,
        "wires": [
            [
                "e374e1f7.b13f4"
            ]
        ]
    },
    {
        "id": "e374e1f7.b13f4",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "Variables",
        "rules": [
            {
                "t": "set",
                "p": "chatid",
                "pt": "flow",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 404,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "4a2a9113.0d773",
        "type": "function",
        "z": "4da41127.f8f52",
        "name": "manda imagen",
        "func": "imagen = msg.payload;\nchatid = flow.get('chatid');\n\nmsg.payload = {\n    content: imagen,\n    chatId: chatid,\n    type: \"photo\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 327,
        "y": 497,
        "wires": [
            [
                "e7712a9c.76ac58"
            ]
        ]
    },
    {
        "id": "e7712a9c.76ac58",
        "type": "chatbot-conversation",
        "z": "4da41127.f8f52",
        "name": "",
        "botDevelopment": "b1e663d0.e2e62",
        "botProduction": "b1e663d0.e2e62",
        "chatId": "",
        "userId": "",
        "transport": "telegram",
        "store": "",
        "x": 517,
        "y": 497,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "dd4810e0.4ab3e",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/enciende",
        "x": 340,
        "y": 544,
        "wires": [
            [
                "208cc215.337b3e"
            ]
        ]
    },
    {
        "id": "f7eec39b.b7dad",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/apaga",
        "x": 340,
        "y": 584,
        "wires": [
            [
                "56451f02.f8a54"
            ]
        ]
    },
    {
        "id": "208cc215.337b3e",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 544,
        "wires": [
            [
                "c0b06d6d.3265a",
                "4c0643b6.9aeedc"
            ]
        ]
    },
    {
        "id": "56451f02.f8a54",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 584,
        "wires": [
            [
                "c0b06d6d.3265a",
                "164f7536.dbebcb"
            ]
        ]
    },
    {
        "id": "c0b06d6d.3265a",
        "type": "mqtt out",
        "z": "4da41127.f8f52",
        "name": "",
        "topic": "m5stickc/led",
        "qos": "",
        "retain": "",
        "broker": "53b63cd3.a25164",
        "x": 717,
        "y": 577,
        "wires": []
    },
    {
        "id": "4c0643b6.9aeedc",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Led Encendido"
            }
        ],
        "x": 697,
        "y": 517,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "164f7536.dbebcb",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Led apagado"
            }
        ],
        "x": 697,
        "y": 637,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "6257fa70.db6ba4",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/sonido",
        "x": 340,
        "y": 624,
        "wires": [
            [
                "617c622b.68328c",
                "73b816e1.b36648"
            ]
        ]
    },
    {
        "id": "617c622b.68328c",
        "type": "mqtt out",
        "z": "4da41127.f8f52",
        "name": "",
        "topic": "m5stickc/sonido",
        "qos": "",
        "retain": "",
        "broker": "53b63cd3.a25164",
        "x": 540,
        "y": 664,
        "wires": []
    },
    {
        "id": "73b816e1.b36648",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Sonido emitido"
            }
        ],
        "x": 510,
        "y": 624,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "27400a6b.e1afa6",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/mensaje",
        "x": 440,
        "y": 795,
        "wires": [
            [
                "2c892c1e.8606c4"
            ]
        ]
    },
    {
        "id": "51070a4.cb7c3f4",
        "type": "mqtt out",
        "z": "4da41127.f8f52",
        "name": "",
        "topic": "m5stickc/pantalla",
        "qos": "",
        "retain": "",
        "broker": "53b63cd3.a25164",
        "x": 670,
        "y": 835,
        "wires": []
    },
    {
        "id": "2c892c1e.8606c4",
        "type": "chatbot-ask",
        "z": "4da41127.f8f52",
        "name": "",
        "buttons": [
            {
                "type": "keyboardButton",
                "label": "Hola"
            },
            {
                "type": "keyboardButton",
                "label": "SOS"
            },
            {
                "type": "keyboardButton",
                "label": "Adios"
            }
        ],
        "message": "¿Que mensaje quieres mandar a la pantalla?",
        "x": 610,
        "y": 795,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "38297224.284b3e",
        "type": "change",
        "z": "4da41127.f8f52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 835,
        "wires": [
            [
                "51070a4.cb7c3f4"
            ]
        ]
    },
    {
        "id": "cbf25fbe.d8255",
        "type": "switch",
        "z": "4da41127.f8f52",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 795,
        "wires": [
            [
                "27400a6b.e1afa6"
            ],
            [
                "38297224.284b3e"
            ]
        ]
    },
    {
        "id": "c34b0912.e5df48",
        "type": "moment",
        "z": "4da41127.f8f52",
        "name": "",
        "topic": "",
        "input": "hora",
        "inputType": "flow",
        "inTz": "Etc/UTC",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "\"POSIX\"",
        "output": "hora",
        "outputType": "flow",
        "outTz": "Etc/UTC",
        "x": 620,
        "y": 364,
        "wires": [
            [
                "d12a05d9.e66e38"
            ]
        ]
    },
    {
        "id": "e177e9c3.07a308",
        "type": "amazon-echo-hub",
        "z": "d382a522.1d1138",
        "port": "8008",
        "processinput": 0,
        "discovery": true,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "7165823b.3b370c",
                "67773765.897628"
            ]
        ]
    },
    {
        "id": "7165823b.3b370c",
        "type": "amazon-echo-device",
        "z": "d382a522.1d1138",
        "name": "Luz Node",
        "topic": "",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "38d88720.806b08"
            ]
        ]
    },
    {
        "id": "38d88720.806b08",
        "type": "debug",
        "z": "d382a522.1d1138",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "bbd7c6c1.3db7d8",
        "type": "catch",
        "z": "d382a522.1d1138",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "21693339.028c0c"
            ]
        ]
    },
    {
        "id": "21693339.028c0c",
        "type": "debug",
        "z": "d382a522.1d1138",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "3fe0f9f9.931646",
        "type": "status",
        "z": "d382a522.1d1138",
        "name": "",
        "scope": null,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "d4332e07.52972"
            ]
        ]
    },
    {
        "id": "d4332e07.52972",
        "type": "debug",
        "z": "d382a522.1d1138",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "67773765.897628",
        "type": "amazon-echo-device",
        "z": "d382a522.1d1138",
        "name": "Termostato Node",
        "topic": "",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "9f2044f6.fe5998"
            ]
        ]
    },
    {
        "id": "9f2044f6.fe5998",
        "type": "debug",
        "z": "d382a522.1d1138",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "8aca44f4.123ed8",
        "type": "inject",
        "z": "c1cb5db9.094de",
        "name": "Setup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c4990fea.c7b6c"
            ]
        ]
    },
    {
        "id": "c4990fea.c7b6c",
        "type": "change",
        "z": "c1cb5db9.094de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "3600000",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "currentTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3f002ee3.678592",
        "type": "inject",
        "z": "c1cb5db9.094de",
        "name": "Loop",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.01",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "9f528ec9.f8517"
            ]
        ]
    },
    {
        "id": "9f528ec9.f8517",
        "type": "function",
        "z": "c1cb5db9.094de",
        "name": "Actualizar tiempo restante",
        "func": "var currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\")||currentTime; //https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Operadores/Operadores_l%C3%B3gicos\nvar timeRemaining=global.get(\"timeRemaining\")||0;\nvar gameState=global.get(\"gameState\");\n\nif(gameState==\"playing\"){\n    timeRemaining -= (currentTime - lastTickTime);\n    global.set(\"timeRemaining\",timeRemaining);\n}\n\nmsg.timeRemaining=timeRemaining;\nglobal.set(\"lastTickTime\",currentTime);\nnode.status({fill:\"green\",shape:\"dot\",text:timeRemaining});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "9d4d387a.a24378"
            ]
        ]
    },
    {
        "id": "9d4d387a.a24378",
        "type": "function",
        "z": "c1cb5db9.094de",
        "name": "Dar formato al tiempo mm:ss:ms",
        "func": "var t=msg.timeRemaining/1000;\nvar h=Math.floor(t/3600);\nvar m = Math.floor(t%3600 /60);\nvar s = Math.floor(t%3600%60);\nvar ms = Math.floor((t%3600 % 60)* 100);\n\nmsg.formattedTimeRemaining = (\"0\"+m).slice(-2)+\":\"+(\"0\"+s).slice(-2)+\":\"+(\"0\"+ms).slice(-2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "2826c02.3934c4",
                "1e929c03.319314",
                "8f7411c8.25beb"
            ]
        ]
    },
    {
        "id": "2826c02.3934c4",
        "type": "ui_template",
        "z": "c1cb5db9.094de",
        "group": "81467baf.f38798",
        "name": "Tiempo GM",
        "order": 1,
        "width": 6,
        "height": 2,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <span class=\"label\">\n        <i class=\"fa fa-clock-o fa-3x nr-dashboard-ok\"></i>\n    </span>\n    <span class=\"value\" style=\"color:#1EFA01; font-size:50px;font-family:digital-7 mono\">\n        {{msg.formattedTimeRemaining}}\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 850,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f63ae2d3.f5b7b",
        "type": "ui_button",
        "z": "c1cb5db9.094de",
        "name": "",
        "group": "81467baf.f38798",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "PLAY",
        "tooltip": "",
        "color": "#050505",
        "bgcolor": "#47F20E",
        "icon": "fa-play",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "a70482fa.ceb63"
            ]
        ]
    },
    {
        "id": "8e6c66f6.1ab818",
        "type": "ui_button",
        "z": "c1cb5db9.094de",
        "name": "",
        "group": "81467baf.f38798",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "PAUSE",
        "tooltip": "",
        "color": "#050505",
        "bgcolor": "#F30A0A",
        "icon": "fa-pause",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "c46fc66e.ae62c8"
            ]
        ]
    },
    {
        "id": "54525458.b5868c",
        "type": "ui_button",
        "z": "c1cb5db9.094de",
        "name": "",
        "group": "81467baf.f38798",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "#050505",
        "bgcolor": "#4102FD",
        "icon": "fa-fast-backward",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "9fc92623.3409d8"
            ]
        ]
    },
    {
        "id": "a70482fa.ceb63",
        "type": "change",
        "z": "c1cb5db9.094de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c46fc66e.ae62c8",
        "type": "change",
        "z": "c1cb5db9.094de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9fc92623.3409d8",
        "type": "change",
        "z": "c1cb5db9.094de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "3600000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "54aa7cc6.40fc74",
        "type": "ui_button",
        "z": "c1cb5db9.094de",
        "name": "",
        "group": "3ada7ef5.741682",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "CABLES",
        "tooltip": "",
        "color": "#050505",
        "bgcolor": "#47F20E",
        "icon": "fa-bell",
        "payload": "{\"group\":{\"hide\":[\"Room_Tiempo\",\"Room_Pista_exp\",\"Room_Pista_puerta\"],\"show\":[\"Room_Pista_cables\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "5e62fc3d.5ca234",
                "27ed27af.3602c8"
            ]
        ]
    },
    {
        "id": "a61adadb.4db058",
        "type": "ui_button",
        "z": "c1cb5db9.094de",
        "name": "",
        "group": "3ada7ef5.741682",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "OCULTAR",
        "tooltip": "",
        "color": "#050505",
        "bgcolor": "#f30a0a",
        "icon": "fa-bell-slash",
        "payload": "{\"group\":{\"hide\":[\"Room_Pista_cables\",\"Room_Pista_exp\",\"Room_Pista_puerta\"],\"show\":[\"Room_Tiempo\"]}}",
        "payloadType": "json",
        "topic": "",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "fd68489a.6dabb8",
                "27ed27af.3602c8"
            ]
        ]
    },
    {
        "id": "4a4e2972.b39e08",
        "type": "ui_button",
        "z": "c1cb5db9.094de",
        "name": "",
        "group": "3ada7ef5.741682",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "EXPERTO",
        "tooltip": "",
        "color": "#050505",
        "bgcolor": "#47F20E",
        "icon": "fa-bell",
        "payload": "{\"group\":{\"hide\":[\"Room_Tiempo\",\"Room_Pista_cables\",\"Room_Pista_puerta\"],\"show\":[\"Room_Pista_exp\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "8e9456da.5afed8",
                "27ed27af.3602c8"
            ]
        ]
    },
    {
        "id": "a7177cd.417338",
        "type": "ui_button",
        "z": "c1cb5db9.094de",
        "name": "",
        "group": "3ada7ef5.741682",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PUERTA",
        "tooltip": "",
        "color": "#050505",
        "bgcolor": "#47F20E",
        "icon": "fa-bell",
        "payload": "{\"group\":{\"hide\":[\"Room_Tiempo\",\"Room_Pista_exp\",\"Room_Pista_cables\"],\"show\":[\"Room_Pista_puerta\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "7daef4e5.4d801c",
                "27ed27af.3602c8"
            ]
        ]
    },
    {
        "id": "5e62fc3d.5ca234",
        "type": "http request",
        "z": "c1cb5db9.094de",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://localhost:1880/popup1-prev.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "d64c3504.e8dd98"
            ]
        ]
    },
    {
        "id": "d64c3504.e8dd98",
        "type": "base64",
        "z": "c1cb5db9.094de",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "342cdb78.d07fe4"
            ]
        ]
    },
    {
        "id": "342cdb78.d07fe4",
        "type": "ui_template",
        "z": "c1cb5db9.094de",
        "group": "3ada7ef5.741682",
        "name": "Previsualización Pista",
        "order": 4,
        "width": "12",
        "height": "8",
        "format": "<style>\n    .imagen{\n        position:absolute;\n    }\n</style>\n<div class=\"imagen\"><img src=\"data:image/jpg;base64,{{msg.payload}}\" class=\"strech\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 780,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8e9456da.5afed8",
        "type": "http request",
        "z": "c1cb5db9.094de",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://localhost:1880/popup3-prev.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "815f3278.4e662"
            ]
        ]
    },
    {
        "id": "815f3278.4e662",
        "type": "base64",
        "z": "c1cb5db9.094de",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "342cdb78.d07fe4"
            ]
        ]
    },
    {
        "id": "7daef4e5.4d801c",
        "type": "http request",
        "z": "c1cb5db9.094de",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://localhost:1880/popup2-prev.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "cdf36e62.37b9b"
            ]
        ]
    },
    {
        "id": "cdf36e62.37b9b",
        "type": "base64",
        "z": "c1cb5db9.094de",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "342cdb78.d07fe4"
            ]
        ]
    },
    {
        "id": "fd68489a.6dabb8",
        "type": "change",
        "z": "c1cb5db9.094de",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "342cdb78.d07fe4"
            ]
        ]
    },
    {
        "id": "e2d2c9a4.b11b88",
        "type": "ui_template",
        "z": "c1cb5db9.094de",
        "group": "b577ee1e.21f51",
        "name": "Fondo Room",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-image:url(\"/fondo-nuevo-4.jpg\");\n        background-size:100% 100%;\n        background-position:center;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 110,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "1e929c03.319314",
        "type": "ui_template",
        "z": "c1cb5db9.094de",
        "group": "b577ee1e.21f51",
        "name": "Tiempo Room",
        "order": 1,
        "width": "18",
        "height": "8",
        "format": "<style>\n    .nr-dashboard-theme ui-card-panel{\n        background-color:rgba(0,0,0,0);\n        border:rgba(0,0,0,0) 1px solid;\n        background-position:center;\n    }\n    \n    body.nr-dashboard-theme md-content md-card{\n        background-color:rgba(0,0,0,0);\n        border:rgba(0,0,0,0) 1px solid;\n        background-position:center;\n        overflow:hidden;\n    }\n    \n    .time-overlay{\n        text-align:center;\n        position:absolute;\n        margin:auto;\n        width:100%;\n        top:160px;\n        font-size:215px;\n        font-family:digital-7 mono;\n        color:#FCF516;\n    }\n</style>\n\n<div class=\"time-overlay\">{{msg.formattedTimeRemaining}}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 860,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "29387dab.c773d2",
        "type": "http request",
        "z": "c1cb5db9.094de",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://localhost:1880/popup1-prev.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "5dd52cd5.a1d814"
            ]
        ]
    },
    {
        "id": "5dd52cd5.a1d814",
        "type": "base64",
        "z": "c1cb5db9.094de",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 520,
        "wires": [
            [
                "4349f2aa.d29ffc"
            ]
        ]
    },
    {
        "id": "8bcac9fe.c37af8",
        "type": "http request",
        "z": "c1cb5db9.094de",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://localhost:1880/popup3-prev.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "9be4a29c.5a749"
            ]
        ]
    },
    {
        "id": "9be4a29c.5a749",
        "type": "base64",
        "z": "c1cb5db9.094de",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 560,
        "wires": [
            [
                "1efdf4d2.0aba8b"
            ]
        ]
    },
    {
        "id": "2363ec67.77ba74",
        "type": "http request",
        "z": "c1cb5db9.094de",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://localhost:1880/popup2-prev.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "3520e11c.1ac66e"
            ]
        ]
    },
    {
        "id": "3520e11c.1ac66e",
        "type": "base64",
        "z": "c1cb5db9.094de",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 600,
        "wires": [
            [
                "ce9d1726.83e1e8"
            ]
        ]
    },
    {
        "id": "4349f2aa.d29ffc",
        "type": "ui_template",
        "z": "c1cb5db9.094de",
        "group": "bf40a062.1bae4",
        "name": "Pista cables",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n body{\n     background-image:url(\"/popup1.jpg\");\n     background-size:100% 100%;\n     background-position:center;\n }\n </style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 830,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1efdf4d2.0aba8b",
        "type": "ui_template",
        "z": "c1cb5db9.094de",
        "group": "5dd64cb0.643974",
        "name": "Pista exp",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-image:url(\"/popup3-prev.jpg\");\n        background-size:100% 100%;\n        background-position:center;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 820,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "ce9d1726.83e1e8",
        "type": "ui_template",
        "z": "c1cb5db9.094de",
        "group": "ef5b801b.aadf9",
        "name": "Pista cables",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-image:url(\"/popup2.jpg\");\n        background-size:100% 100%;\n        background-position:center;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 830,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "291e77f3.d4d988",
        "type": "ui_ui_control",
        "z": "c1cb5db9.094de",
        "name": "",
        "events": "all",
        "x": 320,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "8f7411c8.25beb",
        "type": "debug",
        "z": "c1cb5db9.094de",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "d136cfad.f7089",
        "type": "catch",
        "z": "c1cb5db9.094de",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "8aee65c4.b24218"
            ]
        ]
    },
    {
        "id": "8aee65c4.b24218",
        "type": "debug",
        "z": "c1cb5db9.094de",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "4431e338.0a71fc",
        "type": "ui_text",
        "z": "c1cb5db9.094de",
        "group": "bf40a062.1bae4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cables",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "8d129408.d2d318",
        "type": "ui_text",
        "z": "c1cb5db9.094de",
        "group": "5dd64cb0.643974",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Exp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "f6a57830.203248",
        "type": "ui_text",
        "z": "c1cb5db9.094de",
        "group": "ef5b801b.aadf9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Puerta",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "27ed27af.3602c8",
        "type": "change",
        "z": "c1cb5db9.094de",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "291e77f3.d4d988"
            ]
        ]
    },
    {
        "id": "a32df6bb.39af68",
        "type": "comment",
        "z": "4da41127.f8f52",
        "name": "Bot Telegram @juntosdesdecasa_bot",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "4fff5143.27d57",
        "type": "catch",
        "z": "170f4718.6bac99",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "c8304198.da62c"
            ]
        ]
    },
    {
        "id": "c8304198.da62c",
        "type": "debug",
        "z": "170f4718.6bac99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 840,
        "wires": []
    },
    {
        "id": "3fa49049.cb821",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "Inserta en BBDD",
        "func": "texto = msg.payload;\nusuario = msg.originalMessage.from;\nentidad = JSON.stringify(msg.originalMessage.entities);\nchatid = msg.originalMessage.chat.id\n\nmsg.topic = \"INSERT INTO `Usuarios_Telegram` (`user_id`, `is_bot`, `first_name`, `last_name`, `username`, `language_code`, `entities`, `Tipo`, `Mensaje`, `chatid`) VALUES (\" + usuario.id + \",\" + usuario.is_bot + \",'\" + usuario.first_name + \"','\" + usuario.last_name + \"','\" + usuario.username + \"','\" + usuario.language_code + \"','\" + entidad + \"','\" + texto.type + \"','\" + texto.content + \"','\" + chatid + \"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "37b8594a.763cc6"
            ]
        ]
    },
    {
        "id": "37b8594a.763cc6",
        "type": "mysql",
        "z": "414fdac6.e0c984",
        "mydb": "adab0b05.dcbd08",
        "name": "",
        "x": 840,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9f223356.30fde",
        "type": "function",
        "z": "4da41127.f8f52",
        "name": "Inserta en BBDD",
        "func": "texto = msg.payload;\nusuario = msg.originalMessage.from;\nentidad = JSON.stringify(msg.originalMessage.entities);\nchatid = msg.originalMessage.chat.id\n\nmsg.topic = \"INSERT INTO `Usuarios_Telegram` (`user_id`, `is_bot`, `first_name`, `last_name`, `username`, `language_code`, `entities`, `Tipo`, `Mensaje`, `chatid`) VALUES (\" + usuario.id + \",\" + usuario.is_bot + \",'\" + usuario.first_name + \"','\" + usuario.last_name + \"','\" + usuario.username + \"','\" + usuario.language_code + \"','\" + entidad + \"','\" + texto.type + \"','\" + texto.content + \"','\" + chatid + \"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 890,
        "wires": [
            [
                "dbc2bc20.d912c"
            ]
        ]
    },
    {
        "id": "dbc2bc20.d912c",
        "type": "mysql",
        "z": "4da41127.f8f52",
        "mydb": "adab0b05.dcbd08",
        "name": "",
        "x": 580,
        "y": 890,
        "wires": [
            []
        ]
    },
    {
        "id": "5dbb3f36.2ef26",
        "type": "catch",
        "z": "4da41127.f8f52",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 420,
        "y": 953,
        "wires": [
            [
                "f7a6ca9d.a610f8"
            ]
        ]
    },
    {
        "id": "f7a6ca9d.a610f8",
        "type": "debug",
        "z": "4da41127.f8f52",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 953,
        "wires": []
    },
    {
        "id": "e34cbef9.4fc8c",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/temperatura",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "9dbbdbc6.50dc28"
            ]
        ]
    },
    {
        "id": "89a6ef1d.78f5",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/humedad",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "2cc66622.9f10ea"
            ]
        ]
    },
    {
        "id": "2cc66622.9f10ea",
        "type": "openweathermap",
        "z": "4da41127.f8f52",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "logrono",
        "country": "Espana",
        "language": "es",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "dfa75794.b15e68"
            ]
        ]
    },
    {
        "id": "113addb9.a95f42",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Hola esta es la humedad en {{location2}}: {{humidity}}%"
            }
        ],
        "language": "es",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "9dbbdbc6.50dc28",
        "type": "openweathermap",
        "z": "4da41127.f8f52",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "logrono",
        "country": "Espana",
        "language": "es",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "38de6f91.3d5b3"
            ]
        ]
    },
    {
        "id": "4a1271e1.6b376",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Hola esta es la humedad en {{location1}}: {{tempc}}º"
            }
        ],
        "language": "es",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "38de6f91.3d5b3",
        "type": "function",
        "z": "4da41127.f8f52",
        "name": "Get temperatura",
        "func": "temp = msg.payload.tempc;\nglobal.set(\"tempc\", String(temp));\nglobal.set(\"location1\", String(msg.payload.location));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "4a1271e1.6b376"
            ]
        ]
    },
    {
        "id": "dfa75794.b15e68",
        "type": "function",
        "z": "4da41127.f8f52",
        "name": "Get humedad",
        "func": "hum = msg.payload.humidity;\nglobal.set(\"humidity\", String(hum));\nglobal.set(\"location2\", String(msg.payload.location));\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "113addb9.a95f42"
            ]
        ]
    },
    {
        "id": "2ca3746e.c5f64c",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/tweet",
        "x": 330,
        "y": 700,
        "wires": [
            [
                "e703da2f.1d4348"
            ]
        ]
    },
    {
        "id": "e703da2f.1d4348",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Necesito tu usuario de Twitter"
            }
        ],
        "language": "",
        "x": 670,
        "y": 700,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "2009a29f.495ede",
        "type": "chatbot-command",
        "z": "4da41127.f8f52",
        "name": "",
        "command": "/mail",
        "x": 330,
        "y": 740,
        "wires": [
            [
                "8b23c1ff.6b859"
            ]
        ]
    },
    {
        "id": "8b23c1ff.6b859",
        "type": "chatbot-message",
        "z": "4da41127.f8f52",
        "name": "",
        "message": [
            {
                "message": "Necesito tu usuario de mail"
            }
        ],
        "language": "",
        "x": 670,
        "y": 740,
        "wires": [
            [
                "a96cc5fc.faa398"
            ]
        ]
    },
    {
        "id": "f2c7895d.f313f8",
        "type": "image",
        "z": "4da41127.f8f52",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 120,
        "y": 560,
        "wires": []
    }
]