04-Ejercicio Final/Ejercicio_8/Ejercicio_8.json
[
    {
        "id": "414fdac6.e0c984",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be8c3488.09cdb8",
        "type": "telegram receiver",
        "z": "414fdac6.e0c984",
        "name": "Bot aprendiendoarduino",
        "bot": "2f968c77.ffdb44",
        "saveDataDir": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "7c9e057e.188cec",
                "293c33f2.559c7c"
            ],
            []
        ]
    },
    {
        "id": "7c9e057e.188cec",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "2b8ed2f0.54184e",
        "type": "telegram sender",
        "z": "414fdac6.e0c984",
        "name": "Manda Mensaje",
        "bot": "2f968c77.ffdb44",
        "x": 720,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "879b4e76.0ec34",
        "type": "inject",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "",
        "payload": "Hola desde node...",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "7c723139.b3998"
            ]
        ]
    },
    {
        "id": "7c723139.b3998",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "Manda a jecrespo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"chatId\":\"315011892\",\"content\":\"Hola desde node red de nuevo\",\"type\":\"message\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 600,
        "wires": [
            [
                "2b8ed2f0.54184e",
                "7c9e057e.188cec"
            ]
        ]
    },
    {
        "id": "58bbfc80.a5eea4",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "Manda a grupo",
        "func": "mensaje = msg.payload;\nchat = \"-1001252876433\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "2b8ed2f0.54184e"
            ]
        ]
    },
    {
        "id": "af1de793.007188",
        "type": "inject",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "",
        "payload": "Hola Grupo",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "58bbfc80.a5eea4"
            ]
        ]
    },
    {
        "id": "d672dacb.319e88",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "Manda a canal",
        "func": "mensaje = msg.payload;\nchat = \"-1001402638286\"\n\nmsg.payload = {\n    content: mensaje,\n    chatId: chat,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "2b8ed2f0.54184e"
            ]
        ]
    },
    {
        "id": "f04f0ea4.2230c",
        "type": "inject",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "",
        "payload": "Temperatura casa: 23.9 ºC",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "d672dacb.319e88"
            ]
        ]
    },
    {
        "id": "cafa5c09.192dc",
        "type": "comment",
        "z": "414fdac6.e0c984",
        "name": "Bot de Telegram",
        "info": "Comandos:\nhelp - Ayuda\nstart - Inicio\nenciende - Enciende Led\napaga - Apaga led\nlee - Muestra datos broker\n",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "293c33f2.559c7c",
        "type": "switch",
        "z": "414fdac6.e0c984",
        "name": "Bot",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "/help*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/start*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/enciende*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/apaga*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "/lee*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "ee8fb048.b0c66",
                "287efe4f.f5fab2"
            ],
            [
                "ee8fb048.b0c66",
                "ffb520f.e17d2e"
            ],
            [
                "ee8fb048.b0c66",
                "deb1003b.12b11",
                "5a2e085e.7582f8"
            ],
            [
                "ee8fb048.b0c66",
                "eab2f1e9.b1ca",
                "6e678148.37509"
            ],
            [
                "ee8fb048.b0c66",
                "445f37dc.613ae8"
            ]
        ],
        "outputLabels": [
            "help",
            "start",
            "enciende",
            "apaga",
            "lee"
        ]
    },
    {
        "id": "ee8fb048.b0c66",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "93d3635a.ff7be",
        "type": "telegram sender",
        "z": "414fdac6.e0c984",
        "name": "",
        "bot": "2f968c77.ffdb44",
        "x": 820,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "287efe4f.f5fab2",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "help",
        "func": "msg.payload.content = \"help - Ayuda\\nstart - Inicio\\nenciende - Enciende Led\\napaga - Apaga led\\nlee - Muestra datos broker\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "93d3635a.ff7be",
                "fd4cf1df.e015d"
            ]
        ]
    },
    {
        "id": "eab2f1e9.b1ca",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "apaga",
        "func": "msg.payload.content = \"LED Apagado\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "deb1003b.12b11",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "enciende",
        "func": "msg.payload.content = \"LED Encendido\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "ffb520f.e17d2e",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "start",
        "func": "msg.payload.content = \"help - Ayuda\\nstart - Inicio\\nenciende - Enciende Led\\napaga - Apaga led\\nlee - Muestra datos broker\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "445f37dc.613ae8",
        "type": "function",
        "z": "414fdac6.e0c984",
        "name": "Estado LED",
        "func": "msg.payload.content = \"Estado del LED: \" + flow.get(\"estado_led\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "93d3635a.ff7be"
            ]
        ]
    },
    {
        "id": "d7ceec50.48618",
        "type": "mqtt out",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "5a2e085e.7582f8",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "estado_led",
                "pt": "flow",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "d7ceec50.48618"
            ]
        ]
    },
    {
        "id": "96b5cabf.e91298",
        "type": "mqtt out",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "",
        "retain": "",
        "broker": "760437d5.268b98",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e678148.37509",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "estado_led",
                "pt": "flow",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "96b5cabf.e91298"
            ]
        ]
    },
    {
        "id": "ffc4151.97572e8",
        "type": "mqtt in",
        "z": "414fdac6.e0c984",
        "name": "",
        "topic": "/raspberrypi/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "760437d5.268b98",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "e1aa2810.027d08"
            ]
        ]
    },
    {
        "id": "e1aa2810.027d08",
        "type": "change",
        "z": "414fdac6.e0c984",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "estado_led",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fd4cf1df.e015d",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "4c2163b8.e097cc",
        "type": "telegram command",
        "z": "414fdac6.e0c984",
        "name": "",
        "command": "/help",
        "bot": "2f968c77.ffdb44",
        "strict": false,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "df47c36c.2a834"
            ],
            []
        ]
    },
    {
        "id": "df47c36c.2a834",
        "type": "debug",
        "z": "414fdac6.e0c984",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "2f968c77.ffdb44",
        "type": "telegram bot",
        "z": "",
        "botname": "aprendiendoarduino_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "760437d5.268b98",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]